trunk/docs/internal/searchldap.wsdl

<wsdl:definitions name="SearchLDAP" targetNamespace="http://genldap.coe.cordys.com/1.2/methods" xmlns:cordys="http://schemas.cordys.com/General/1.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://genldap.coe.cordys.com/1.2/methods" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://genldap.coe.cordys.com/1.2/methods" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://schemas.cordys.com/General/1.0/" schemaLocation="http://srv-nl-ces70/cordys/WSDLGateway.wcp?service=http://schemas.cordys.com/CordysSchemas//CordysFaultDetails.xsd&amp;organization=o=Reporting,cn=cordys,o=vanenburg.com" />
      <xsd:element name="SearchLDAP">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="dn" type="xsd:string" maxOccurs="1" />
            <xsd:element name="scope" maxOccurs="1" minOccurs="0">
              <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                  <xsd:enumeration value="0">
                    <xsd:annotation>
                      <xsd:documentation>Used with search to specify that the scope of entrys to search is to search only the base obect.</xsd:documentation>
                    </xsd:annotation>
                  </xsd:enumeration>
                  <xsd:enumeration value="1">
                    <xsd:annotation>
                      <xsd:documentation>Used with search to specify that the scope of entrys to search is to search only the immediate subordinates of the base obect.</xsd:documentation>
                    </xsd:annotation>
                  </xsd:enumeration>
                  <xsd:enumeration value="2">
                    <xsd:annotation>
                      <xsd:documentation>Used with search to specify that the scope of entrys to search is to search the base object and all entries within its subtree.</xsd:documentation>
                    </xsd:annotation>
                  </xsd:enumeration>
                  <xsd:enumeration value="4">
                    <xsd:annotation>
                      <xsd:documentation>Used with search to specify that the scope of entries to search is to search the subordinate subtree object and all entries within it.</xsd:documentation>
                    </xsd:annotation>
                  </xsd:enumeration>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="filter" type="xsd:string" maxOccurs="1" minOccurs="1" />
            <xsd:element name="sort" type="xsd:boolean" maxOccurs="1" minOccurs="0" />
            <xsd:element name="maxsearchresults" type="xsd:int" maxOccurs="1" minOccurs="0" />
            <xsd:element name="referralfollowing" type="xsd:boolean" maxOccurs="1" minOccurs="0" />
            <xsd:element name="return" type="tns:ctReturn" maxOccurs="1" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchLDAPResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="tuple" type="tns:ctTuple" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="anyType">
        <xsd:sequence>
          <xsd:any />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="tuple" type="tns:ctTuple" />
      <xsd:element name="entry" type="tns:ctEntry" />
      <xsd:complexType name="ctEntry">
        <xsd:sequence>
          <xsd:any processContents="lax" />
        </xsd:sequence>
        <xsd:attribute name="dn" type="xsd:string" use="required" />
      </xsd:complexType>
      <xsd:element name="string" type="xsd:string" />
      <xsd:complexType name="ctOld">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="old" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ctTuple">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="old" type="tns:ctLDAPEntry" />
          <xsd:element maxOccurs="1" minOccurs="0" name="new" type="tns:ctLDAPEntry" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ctLDAPEntry">
        <xsd:sequence>
          <xsd:element ref="tns:entry" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ctReturn">
        <xsd:sequence>
          <xsd:element name="include" type="tns:ctAttributeList" maxOccurs="1" minOccurs="0" />
          <xsd:element name="exclude" type="tns:ctAttributeList" maxOccurs="1" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ctAttributeList">
        <xsd:sequence>
          <xsd:element name="attribute" maxOccurs="unbounded" minOccurs="1">
            <xsd:complexType mixed="true">
              <xsd:attribute name="type" use="optional">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="BINARY" />
                    <xsd:enumeration value="STRING" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CordysFaultDetail">
    <wsdl:part element="cordys:FaultDetails" name="FaultDetail" />
  </wsdl:message>
  <wsdl:message name="SearchLDAP">
    <wsdl:part element="tns:SearchLDAP" name="body" />
  </wsdl:message>
  <wsdl:message name="SearchLDAPResponse">
    <wsdl:part element="tns:SearchLDAPResponse" name="body" />
  </wsdl:message>
  <wsdl:portType name="SearchLDAPPortType">
    <wsdl:operation name="SearchLDAPOperation">
      <wsdl:input message="tns:SearchLDAP" />
      <wsdl:output message="tns:SearchLDAPResponse" />
      <wsdl:fault message="tns:CordysFaultDetail" name="FaultDetail" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SearchLDAPBinding" type="tns:SearchLDAPPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchLDAPOperation">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultDetail">
        <soap:fault name="FaultDetail" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchLDAPService">
    <wsdl:port binding="tns:SearchLDAPBinding" name="SearchLDAPPort">
      <soap:address location="http://srv-nl-ces70/cordys/com.eibus.web.soap.Gateway.wcp?organization=o=Reporting,cn=cordys,o=vanenburg.com" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>